body {
  margin:0px 0px 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.aboutusbody{

color: azure;

}

.aboutush1{
  color: darkred;
}

.aboutuspar{
color: honeydew;
margin-left:60px;

}


.aboutusbody{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family:'Josefin Sans', sans-serif;

  
}
.aboutus .aboutuscontent {
  width: 100%;
  height: 100%;
  max-width: 100%;


}
.aboutusimg{
  width:450px;
  height: 400px;;
  border-radius: 30px;
  filter: brightness(120%);
 filter: contrast(120%);
 box-shadow: rgb(231, 7, 194) 2px 30px 60px -12px, rgb(46, 204, 248) 18px 18px 36px -18px ;
 



}
@media screen and (max-width: 540px) {
 .aboutusimg{

  width: 60%;
  height: 70%;
 }
  .aboutush1 {
      text-align: center;


  }
   .aboutuspar {

      text-align: center;
      padding-left: 100px;
  justify-content: space-around;
  letter-spacing:3px;


  }
  .aboutush5{
      text-align: center;
      padding-left: 15x;
      font-display:inherit

 
  }
}



.aboutustext{
  width: 550px;
  max-width: 100%;
  padding: 0 10px;

}

.aboutuscontent{
  width:1280px;
  max-width: 95%;
  margin: 0 auto ;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-around;

}
.aboutustext .aboutush1{
color:#8c8c8b;
opacity: 50%;
font-weight:bold;
font-size: 85px;
margin-bottom:20px;
text-transform: capitalize;
margin-top: 60px;
}
.aboutush5{
  color:rgb(197, 192, 192);
  font-size:25px;
  margin-bottom:25px;
  text-transform: capitalize;
  letter-spacing: 2px;

}
.aboutustext .aboutuspar{
  color:#c0c4d6;
  font-size: 18px;
  line-height: 28px;
  letter-spacing:1px;
  margin-bottom: 45px;
  margin-right:100px;

}


.profileheader{
  margin-top:150px
}

.profilepic{
  width:auto;
  height:334.43px;
  margin: 10px ;
  border-radius: 80px;


}


.firstprofile{
  margin-left:40px;
  
}




.firstprofile,.secondprofile,.thirdprofile,.fourthprofile{
  margin-top:40px;
  
}





/* ======================== */

.icon {
  color: #fff;
text-decoration: none;
  animation: first_color .5s ease-in-out infinite alternate;

}
.ri-instagram-line{

margin-bottom:100px;



}

.icon:nth-child(2) {
  animation-name: second_color;
}

.icon:nth-child(3) {
  animation-name: third_color;
}

@keyframes first_color {
  0% {
      text-shadow: 0 0 10px #ff1177,
          0 0 20px #d6249f, 0 0 30px #285AEB
  }

  100% {
      text-shadow: 0 0 5px #ff1177,
          0 0 10px #d6249f, 0 0 15px #285AEB
  }
}

@keyframes second_color {
  0% {
      text-shadow: 0 0 10px #1877f2,
          0 0 20px #1459b3, 0 0 30px #179bff
  }

  100% {
      text-shadow: 0 0 5px #1877f2,
          0 0 10px #1459b3, 0 0 15px #179bff
  }
}

@keyframes third_color {
  0% {
      text-shadow: 0 0 10px #25d366,
          0 0 20px #48ee85, 0 0 30px #0ec0a5
  }

  100% {
      text-shadow: 0 0 5px #25d366,
          0 0 10px #48ee85, 0 0 15px #0ec0a5
  }
}
